    {% extends 'blog/base.html' %}

    {% block content %}



        <form method="POST" style="display:inline" class="form-horizontal">{% csrf_token %}
            
            <div style="width:100%;padding-top:50px;">

               <div class="input-lg"  style="width:80%;float:left;">
                    {{ form.as_p }}            
               </div>

               <div style="width:20%;float:right;padding-top:10px;">   
               		<button type="submit" class="btn btn-primary  btn-block" >查谱</button>
               </div>                 
           <div>

        </form>



        <script>

              $( "#id_m_input" ).autocomplete({  
                    source: [ "傅履","傅建","付广","付瑛","珉","傅瓒","傅镕","傅荣","傅俊","傅僓","傅伦","傅仙","傅浩","傅镇","傅钺","傅晟","傅昂","傅昇","傅昱","傅旭","傅杲","傅旻","傅钰","傅顺","傅顕","傅文賁","傅文才","傅文光","傅文华","傅大道","傅大本","傅大坤","傅大鼎","傅大观","傅汝弼","傅求弼","傅心弼","傅嗣浚","傅预"]	
                });

           </script>


        <div class="customers" style="width:100%;padding-top:120px;">

        <table style="width:100%;">
        	{% if familys.count > 0 %} 
                    <tr>
                        <th>编号</th>                        
                        <th>姓名</th>
                        <th>妻子</th>
                        <th>子女</th>
                        <th>父亲</th>
                    </tr>
              {% elif m_start == 0 %}

                      <th>傅氏家谱收录荆州、仙桃、天门、潜江等地的数据，没有查到您要搜索的信息。申请增加信息，请加傅氏微信群。</th>
                    
              {% endif %}       
                     {% for family in familys %}    
					        <tr class="alt">
					            <td id="myname">  {{ family.my_code123 }} </td>
					            <td id="myname">  {{ family.name }} </td>
					            <td id="mywife">  {{ family.wife }} </td>
					            <td id="myfather">  {{ family.father }} </td>
					            <td id="mysons"> {{ family.sons }} </td>
					        </tr>                         
                     {% endfor %}
            </table>

         <div>

    {% endblock %}